.sidebar-box {
  padding: 50px 50px 75px 100px;
	/* background-color: grey; */
	content: "";
	background:	linear-gradient(rgba(255, 0,0,1) 75%, rgba(255,0,0,0));
	color: red;
	height: 150px;
/* 	overflow: hidden; */
	text-overflow: ellipsis;
/* 	width: 50%; */		
}

.a {
  /* white-space: nowrap;   */
  width: 100px;
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
/*   border: 1px solid #000000; */
}


p.read-more {
	color: red;	
}

.red {
	color: red;
	background-color: blue;	
}

div {
	background-color: blue;	
	
}